<%- include('partials/header'); -%>
<!DOCTYPE html>
<html>
        <br />
        <p> Owner Found</p>

        <table width='100%' border=5>

            <tr style='text-align:left; background-color:white'>
                <th>First Name</th> 
                <th>Last Name</th>
                <th>Email</th> 

                </tr>
                <tr>
                    <td><%= owner.firstName %></td> 
                    <td><%= owner.lastName %></td> 
                    <td><%= owner.email %></td> 

                </tr>

</table>
  <br />
  <a href="listings" class="float">Return to Listings</a>

  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>
